html {
    background: #fafafa;
    width: auto;
    height: 100%;
  }
  
  .bg {
    width: auto;
    min-height: 100vh;
  }

  .page-title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .title-page {
    font-weight: bold;
    text-align: center;
  }

  .content{
    text-align: center;
    margin: 3% 8% 0 0; 
    padding-bottom: 3%;
  }

  .select-color {
    color: #01579b;
  }

  .section-title {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .material-icons {
    margin-top: 1.2%;
    font-size: 20px;
    color: rgb(61, 61, 61);
  }

  .material-icons.active {
    color: #01579b;
  }

  .row .input-field input:focus {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 #01579b !important
  }
  
  .row .input-field textarea:focus {
      border-bottom: 1px solid #01579b !important;
      box-shadow: 0 1px 0 0 #01579b !important
  }
  
  #modules-added {
    margin-top: 3vh;
  }