<html>
<div class="bg grey lighten-5">

  <app-header></app-header>

  <div class="row container">

    <div class="col s1 m3 l3">
        <!-- Sidebar -->
        <aside>
          <div id="container-sidebar">
            <div id="menu">
              <ul id="slide-out-menu" class="side-nav fixed hide-on-med-and-down">
                <a href="#" class="brand-logo">
                  <img src="../../../assets/images/circlelogo.png" class="img-responsive img-brand" width="110px" height="auto">
                </a>
                <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                    <div>
                      <li class="menu-list menu-top">
                        <a href="#">
                          <i class="material-icons prefix">date_range</i>Eventos</a>
                        <!-- <a *ngFor="let item of menu">{{item}}</a> -->
                      </li>
                    </div>
  
                    <li class="menu-list">
                      <a (click)="openPage(ROUTER_MANAGE_EMPLOYEE);">
                        <i class="material-icons prefix">assignment_ind</i>Gerenciar Funcionários</a>
                    </li>
  
                    <!-- <li class="menu-list">
                      <a href="#">
                        <i class="material-icons prefix">settings</i>Configurações</a>
                    </li> -->
  
                    <li class="menu-list">
                      <a (click)="openPage(ROUTER_FAQ);">
                        <i class="material-icons prefix">help</i>Ajuda</a>
                    </li>
                  </ul>
              </ul>
            </div>
          </div>
  
        </aside>
      </div>

    <div class="col s11 m9 l9">
          <!-- title page -->
          <div class="page-title">
              <h3 class="title-page">Novo Funcionário</h3>
            </div>

      <div class="content card col s12 m12 l12">
        
             <!-- title section -->
             <div class="section-title">
                <h5 class="title-page center">Informações Básicas</h5>
              </div>

        <form [formGroup]="formGroup">

          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="text" formControlName="email" placeholder="E-mail">
          </div>

          <div class="input-field">
            <i class="material-icons prefix">person</i>
            <input type="text" formControlName="name" placeholder="Nome Completo">
          </div>

          <!-- <ul>
              <li class="collection-item avatar left-align">
                <img src="https://openclipart.org/image/2400px/svg_to_png/247319/abstract-user-flat-3.png" alt="" class="circle img-responsive" width="5%">
                <button class="blue darken-3 waves-effect waves-light btn btn-small">Selecionar Arquivo</button>
                <p class="max-avatar-text">Tamanho máximo 1mb (.jpg ou .png)</p>
              </li>
            </ul> -->

          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input type="password" formControlName="password" placeholder="Senha">
          </div>

          <div class="card-action right-align">
            <a class="green waves-effect waves-light btn" onclick="Materialize.toast('Adicionado com Sucesso!', 3000, 'rounded')" (click)="createNewAccount(formGroup.value)">Adicionar</a>
          </div>
        </form>
      </div>

    </div>

  </div>

</div>

</html>