<html>

<body>
  <div class="bg grey lighten-4">
    <app-header></app-header>

    <!-- Sidebar -->
<div class="row container">
    <div class="col s1 m3 l3 hide-on-med-and-down">
        <aside>
          <div id="container-sidebar">
            <div id="menu">
              <ul id="slide-out-menu" class="side-nav fixed hide-on-med-and-down">
                <a href="#" class="brand-logo">
                  <img src="../../../assets/images/circlelogo.png" class="img-responsive img-brand" width="110px" height="auto">
                </a>
                <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                    <div>
                      <li class="menu-list menu-top">
                        <a href="#">
                          <i class="material-icons prefix">date_range</i>Eventos</a>
                        <!-- <a *ngFor="let item of menu">{{item}}</a> -->
                      </li>
                    </div>
  
                    <li class="menu-list">
                      <a (click)="openPage(ROUTER_MANAGE_EMPLOYEE);">
                        <i class="material-icons prefix">assignment_ind</i>Gerenciar Funcionários</a>
                    </li>
  
                    <!-- <li class="menu-list">
                      <a href="#">
                        <i class="material-icons prefix">settings</i>Configurações</a>
                    </li> -->
  
                    <li class="menu-list">
                      <a (click)="openPage(ROUTER_FAQ);">
                        <i class="material-icons prefix">help</i>Ajuda</a>
                    </li>
                  </ul>
              </ul>
            </div>
          </div>
  
        </aside>
      </div>


      <div class="col s11 m9 l9">
            <!-- title page -->
      <div class="page-title">
          <h3 class="title-page center">Gerenciar Funcionários</h3>
        </div>

              <!-- inserir os botões nessa DIV -->
      <div class="buttons-top">
          <!-- btn add -->
          <div class="btn-add left-align">
            <button class="btn blue darken-3 waves-effect waves-light" (click)="openPage(ROUTER_CREATE_EMPLOYEE)">Adicionar</button>
          </div>
        </div>


      <hr>
      <div class="content" *ngIf="!loading">
        <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l13" *ngFor="let employee of employeeList">
          <ul class="collection left-align">
            <li class="collection-item avatar">
              <img src="https://openclipart.org/image/2400px/svg_to_png/247319/abstract-user-flat-3.png" id="img-profile" class="circle responsive-img">
              <a class="secondary-content">
                <i class="material-icons btn-edit">create</i>
              </a>
              <span class="title">{{employee.name}}</span>
                <p>{{employee.email}}}</p>
            </li>
          </ul>
        </div>
      </div>
      </div>
      </div>
</div>
    
  </div>
</body>

</html>